@page
@model Selkhound.Client.Web.BackEnd.MyFeature.Pages.Page1Model

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to the Shared Razor View!</title>
</head>
<body>
</body>
</html>
